.center {
    text-align: center;
    height: 80%;
    width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.center h1, h2, h3 {
	text-align: center;
}
.center input {
	margin: auto;
}

.item.item-input{
	text-align: center;
}

.input-label {
	text-align: left !important;
}

#list-right {
	float:right;
	height:100%;
}

#list-left {
	float:left;
	max-width: 80%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#map_canvas {
	width: 100%;
}

.item-select select {
  font-family: inherit;
}