.center {
    text-align: center;
    height: 80%;
    width: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.center h1, h2, h3 {
	text-align: center;
}
.center input {
	margin: auto;
}

.item.item-input{
	text-align: center;
}

.input-label {
	text-align: left !important;
}

#list-right {
	float: right;
}
.button-balanced {
  background-color: #28A15D !important;
}

.bar-cool {
  background-color: #0089CC; 
  color: white;
}

.bar-cool h1 {
  color: white;
}
#list-left {
	float:left;
	max-width: 80%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#map_canvas {
	max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.item-select select {
  font-family: inherit;
}

.item-content {
	padding-right: 15px !important;
}

#age-input {
	width: 110px;
}

#age-wrapper {
	margin: 15px;
}

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }
