<ion-view>
	<ion-nav-bar class='bar-positive'>
  	  	<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
  <ion-content class="center">
  	<form class="simple-form" novalidate>
	  	<div class="list">
		 	<label id="age-wrapper" class="item item-input">
				<input class="input-centre" id="age-input" type="tel" ng-model="user.age" placeholder="Enter your age" maxlength="3"></input>
			</label>
			<input type="submit" ng-click="finish(user)" value="Show me!" class="button button-positive"></input>
		</div>
	</form>
  </ion-content>
</ion-view>