<ion-view view-title="Doctor Pricer">
	<ion-nav-bar class='bar-positive'>
  	  	<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
  <ion-content ng-controller="HomeController" class="center">
  	<h1>Hi!</h1>
  	<form class="simple-form" novalidate>
		<geolocate-button></geolocate-button>
		<h3>Or</h3>
	  	<div class="list">
		  	<label class="item item-input">
			  	 <i class="icon ion-search placeholder-icon"></i>
			  	<ion-google-place placeholder="Type an address" ng-model="user.location" ng-change="update(user)"/>
		 	</label>
		</div>
	</form>
  </ion-content>
</ion-view>